.meetUs {
  width: 100%;
  height: 88vh;
  background-image: url("/public/US-flag.png");
  background-size: cover;
  display: flex;
  font-family: "Anton SC", sans-serif;
}
.titulo-meet {
  color: #0a3161;
  font-family: "Anton SC", sans-serif;
}
.info-meet {
  height: 100%;
  width: 50%;
  padding-top: 5%;
}

.bubble-container {
  position: relative;
  max-width: 85%;
  font-family: "Epilogue", sans-serif;
}

.bubble {
  background-color: #002855;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 6px;
  line-height: 1.5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.bubble strong {
  color: white;
  font-weight: bold;
}

.bubble-tail {
  position: absolute;
  top: 80%;
  left: -24px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 35px 25px 0;
  border-color: transparent #002855 transparent transparent;
}

@media (max-width: 1110px) {
  .bubble {
    font-size: 1rem;
    letter-spacing: 5px;
    line-height: 1.1;
  }
}
@media (max-width: 720px) {
  .meetUs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    font-family: "Anton SC", sans-serif;
    background-image: none;
  }
  .titulo-meet{
    padding-top: 2rem;
    text-align: center;
    font-size: 2.8rem;
  }
  .meetUs>div{
    width: 100%!important;
    height: 50%!important;
  }
  .meetUs>div>img{
    margin-left: auto;
    margin-right: auto;
    width: 80%!important;
    height: auto!important;
    margin-bottom: 2rem;
  }
  .info-meet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bubble-container {
    max-width: 90%;
}
  .bubble {
    font-size: 1rem;
    letter-spacing: 5px;
    line-height: 1.1;
  }
  .bubble>p{
    line-height: 1.2;
  }
  .bubble-tail{
    display: none;
  }
}
